.app-cart {
    width: 100%;

    .cart-items {
        .item {
            @include displayFlex(space-between, center, column, 0.5rem);
            margin: 1rem 0;
            padding: 0.5rem;

            @include respondTo(sm) {
                @include displayFlex(flex-start, center, row, 0.5rem);
            }

            &:nth-child(odd) {
                background-color: $color-white;
            }

            &:nth-child(even) {
                background-color: $color-brokenwhite;
            }

            a {
                display: block;
                text-align: left;

                @include respondTo(sm) {
                    @include displayFlex(flex-end, flex-start, column);
                }
            }

            p,
            h3 {
                margin-bottom: 0;
            }

            img {
                display: block;
                width: 3.5rem;
                height: 3.5rem;
                object-fit: cover;

                @include respondTo(sm) {
                    width: 6rem;
                    height: 4rem;
                }
            }

            .item-title {
                padding-bottom: 0;
            }

            .item-description {
                font-size: 0.85rem;
                text-align: left;
                line-height: 1rem;
                color: $color-primary;
            }
        }
    }
}
