.app-form {
    width: 100%;

    .form-group {
        position: relative;
        @include displayFlex(center);
        flex-wrap: wrap;
        margin-bottom: 1rem;

        p {
            flex-basis: 100%;
            margin-bottom: 0;
            text-align: right;
            line-height: 1rem;

            small {
                font-size: 0.75rem !important;
            }
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.25rem 0.25rem 0.25rem 0.5rem;
            cursor: pointer;

            i {
                font-size: 1.75rem;
                color: $color-secondary;
            }

            &.required {
                &:after {
                    position: absolute;
                    top: 0.4rem;
                    right: -0.4rem;
                    content: "*";
                    font-weight: bold;
                    color: $color-danger;
                }
            }
        }

        .form-control {
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            width: 100%;
            font-family: $font-primary;
            font-size: 1rem;
            text-align: right;
            color: $color-primary;
            background-color: $color-white;
            border: 1px solid $color-secondary;

            @include respondTo(sm) {
                text-align: center;
            }
        }
    }

    .app-btn {
        &.cta {
            display: block;
            margin: 0 0 0 auto !important;
            padding: 0.5rem 1.5rem;
        }
    }
}
