.grid-item {
    @include displayFlex(space-between, center, column);
    padding: 0.5rem;
    text-align: center;
    background-color: $color-brokenwhite;

    & > i {
        font-size: 3rem;
        color: $color-secondary;
    }

    .item-title {
        margin-bottom: 0.5rem;
    }

    .item-body {
        margin-bottom: 0.5rem;
        font-style: normal;
        line-height: 1.25rem;
    }

    .item-actions {
        @include displayFlex();
        padding: 0.5rem 0;
        width: 100%;

        a {
            display: block;
            flex: 1 1 100%;
        }
    }
}
