.grid-item {
    @include displayFlex(space-between, center, column);
    padding: 0.5rem;
    text-align: center;
    background-color: $color-brokenwhite;

    & > i {
        font-size: 3rem;
        color: $color-secondary;
    }

    & > img {
        margin-bottom: 1rem;
        width: 100%;
        height: 260px;
        object-fit: cover;
    }

    .item-title {
        margin-bottom: 0.5rem;
    }

    .item-body {
        margin-bottom: 0.5rem;
        font-style: normal;
        line-height: 1.25rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .price {
        font-family: $font-secondary;
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: 1px;
        color: $color-secondary;
    }

    .item-actions {
        @include displayFlex();
        padding: 0.5rem 0;
        width: 100%;

        a {
            display: block;
            flex: 1 1 100%;
        }
    }
}
