html {
    body {
        &.compte {
            .app-main {
                & > .grid {
                    grid-template-columns: 3.25rem 1fr;
                    grid-gap: 0;

                    @include respondTo(sm) {
                        grid-template-columns: 2fr 1fr;
                    }

                    @include respondTo(md) {
                        grid-gap: 1rem;
                    }

                    section {
                        &.card {
                            margin-left: 0;
                            margin-right: 1rem;

                            @include respondTo(sm) {
                                width: 60vw;
                            }

                            @include respondTo(md) {
                                margin-right: 2rem;
                                width: 70vw;
                            }
                        }
                    }
                }
            }
        }
    }
}
