html {
    body {
        &.compte {
            .app-main {
                & > .grid {
                    grid-template-columns: 3.25rem 1fr;
                    grid-gap: 0;

                    @include respondTo(sm) {
                        grid-template-columns: 2fr 1fr;
                    }

                    @include respondTo(md) {
                        grid-gap: 1rem;
                    }

                    section {
                        &.card {
                            margin-left: 1rem;
                            margin-right: 1rem;

                            @include respondTo(sm) {
                                width: 60vw;
                            }

                            @include respondTo(md) {
                                margin-right: 2rem;
                                width: 70vw;
                            }

                            & > .grid {
                                width: 100%;
                            }

                            .addresses {
                                margin-top: 1rem;

                                &:first-child {
                                    h3 {
                                        color: $color-info;
                                    }

                                    .grid-item {
                                        & > i,
                                        .item-title {
                                            color: $color-info;
                                        }
                                    }
                                }

                                &:last-child {
                                    h3 {
                                        color: $color-secondary;
                                    }

                                    .grid-item {
                                        & > i,
                                        .item-title {
                                            color: $color-secondary;
                                        }
                                    }
                                }

                                .grid {
                                    @include respondTo(sm) {
                                        @include displayGrid(1);
                                    }

                                    @include respondTo(md) {
                                        @include displayGrid(2);
                                    }
                                }
                            }

                            .app-form {
                                .form-group {
                                    &.flex {
                                        flex-wrap: initial;
                                        flex-direction: row;
                                    }

                                    .form-control {
                                        padding-left: 3rem;

                                        @include respondTo(sm) {
                                            padding: 0.63rem 1rem 0.62rem 3rem;
                                        }
                                    }

                                    .app-btn {
                                        padding: 0.15rem 0.5rem;
                                        border: 1px solid $color-secondary;
                                        border-left: none;

                                        @include respondTo(sm) {
                                            padding: 0.25rem 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
