/* GLOBAL CONSTANTS */
:root {
  --color-black: #111111;
  --color-white: #ffffff;
  --color-cream: #fffff6;
  --color-red: #d13434;
  --color-blue: #2a94c2;
  --color-green: #198754;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Audiowide", cursive;
}

/* STANDARD ELEMENTS */
body {
  font-family: var(--font-primary);
}

main {
  flex-grow: 1;
}

h1 {
  font-family: var(--font-secondary);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-blue);
  text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.1);
}

h2 {
  font-family: var(--font-secondary);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-blue);
  text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.1);
}

img {
  max-width: 100%;
}

/* GLOBAL BS CLASSES */
.bg-light {
  background-color: var(--color-cream) !important;
}

.border {
  border: 2px solid var(--color-blue) !important;
}

.shadow {
  box-shadow: 2px 2px 4px rgba(17, 17, 17, 0.5);
}

.text-red {
  color: var(--color-red) !important;
}

.text-justify {
  text-align: justify !important;
}

.position-relative * {
  position: relative;
  z-index: 2;
}

.bg-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}

/* NAVBARS */
.navbar {
  border-bottom: 4px solid var(--color-blue);
  box-shadow: 0px 1px 2px rgba(17, 17, 17, 0.5);
}

.navbar-toggler {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.navbar-toggler-icon {
  color: var(--color-blue) !important;
}

.navbar-brand img {
  height: 3rem;
}

.navbar-brand .slogan {
  font-family: var(--font-secondary);
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-blue);
  text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.25);
}

.navbar-brand .slogan span {
  color: var(--color-red);
}

.nav-link {
  color: var(--color-black);
  text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.1);
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: var(--color-blue);
}

/* DROPDOWNS */
.dropdown-toggle {
  text-align: center;
}

.dropdown-menu {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--color-cream);
  border-color: var(--color-blue);
  box-shadow: 2px 2px 4px rgba(17, 17, 17, 0.5);
}

.dropdown-item i {
  color: var(--color-blue);
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:focus i,
.dropdown-item:hover i {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.dropdown-divider {
  border-top: 1px solid var(--color-blue);
}

/* FORMS */
.input-group {
  border-radius: 0.375rem;
  box-shadow: 1px 1px 1px rgba(17, 17, 17, 0.25);
}

.form-control {
  border-width: 2px;
  border-color: var(--color-blue);
  background-color: var(--color-cream);
}

/** BUTTONS */
.btn {
  border-width: 2px;
  box-shadow: 1px 1px 1px rgba(17, 17, 17, 0.25);
}

.btn-primary {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.btn-secondary {
  background-color: var(--color-black);
  border-color: var(--color-black);
}

.btn-outline-primary {
  color: var(--color-white);
  background-color: var(--color-black);
}

.btn-outline-secondary {
  color: var(--color-black);
  border-color: var(--color-black);
}

.btn-outline-third {
  color: var(--color-green);
  border-color: var(--color-green);
}

.btn-third {
  color: var(--color-white);
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.btn:first-child:hover,
:not(.btn-check) + .btn:hover {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: var(--color-black);
}

/* CARDS */
.card-img-top {
  height: 10rem;
  object-fit: cover;
}

.card-title {
  font-family: var(--font-secondary);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-blue);
  text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.1);
}

.card-text {
  text-align: justify;
  font-size: 0.9rem;
  color: rgba(17, 17, 17, 0.75);
}

.card-body .btn {
  display: block;
}

/* ALERTS */
.alert-primary {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
