html {
    scroll-behavior: smooth;

    body {
        font-family: $font-primary;
        color: $color-primary;
        scrollbar-width: thin;
        scrollbar-color: $color-secondary $color-primary;

        &::-webkit-scrollbar {
            width: 11px;
        }

        &::-webkit-scrollbar-track {
            background: $color-primary;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-secondary;
            border-radius: 6px;
            border: 3px solid $color-secondary;
        }
    }
}
