.app-main {
    section {
        &.cover {
            padding: 2rem 1rem;
            text-align: center;
            color: $color-white;
            background: url("../img/bg_cover.png") no-repeat;
            background-size: cover;

            @include respondTo(sm) {
                background-position: right top;
            }
        }

        &.card {
            @include displayFlex(space-between, center, column);
            margin: 2rem;
            padding: 2rem;
            background-color: rgba($color-primary, 0.15);

            @include respondTo(sm) {
                margin: 2rem auto;
                width: 75vw;
            }

            @include respondTo(md) {
                width: 50vw;
            }

            .app-btn {
                &.cta {
                    margin: 2rem -2rem 0;
                }
            }
        }
    }
}
