.app-main {
    section {
        &.cover {
            padding: 2rem 1rem;
            text-align: center;
            color: $color-white;
            background: url("../img/bg_cover.png") no-repeat;
            background-size: cover;

            @include respondTo(sm) {
                background-position: right top;
            }
        }

        &.card {
            @include displayFlex(space-between, center, column);
            margin: 1rem;
            padding: 1rem;
            background-color: rgba($color-primary, 0.15);

            @include respondTo(sm) {
                margin: 2rem auto;
                padding: 2rem;
                width: 75vw;
            }

            @include respondTo(md) {
                width: 50vw;
            }

            &:hover {
                div {
                    &.flex {
                        .app-img {
                            transform: rotate(0deg);
                        }
                    }
                }
            }

            div {
                &.flex {
                    flex-direction: column-reverse;
                    margin-bottom: 1rem;
                    width: 100%;

                    @include respondTo(sm) {
                        flex-direction: row;
                        align-items: flex-end;
                        justify-content: space-around;
                    }

                    .app-img {
                        margin-bottom: 1rem;

                        @include respondTo(sm) {
                            margin-bottom: 0;
                        }
                    }

                    img {
                        margin-bottom: 1rem;
                        height: 25vh;

                        @include respondTo(sm) {
                            height: 20vh;
                        }

                        @include respondTo(md) {
                            height: 25vh;
                        }
                    }
                }
            }

            .app-btn {
                &.cta {
                    margin: 2rem 0 0;
                }
            }
        }
    }
}
